.article-img {
  img {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}

.article-content {
  display: grid;
  grid-template-rows: 20% 80%;
  height: 100%;
  padding: 1rem;
}

.article-title {
  padding-bottom: 2rem;
}

.article-body {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: space-between;
  color: theme-color('primary-dark');
  height: 250px;
}