.box-header {
  width: 100%;
  padding: 1rem 1rem .275rem 1rem;
  border-bottom: 1px solid theme-color('primary');
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-body {
  padding: 2rem 0;
}