.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: right;
  padding: .5rem 1rem;
  color: theme-color("title");
  border-top: 1px solid theme-color("primary-dark");
}