@import "./components/movies";
@import "./components/login";
@import "./components/form";
@import "./components/general";
@import "./components/header";
@import "./components/footer";
@import "./components/side-navigation";
@import "./components/dashboard";
@import "./components/article";
@import "./components/box";
@import "./components/login-dashboard-latest";
@import "./components/animations";


.remove-list-item {
    cursor: pointer;
}
.favorite-movie {
    cursor: pointer;
    &.active {
        color: theme-color("action");
    }
}